/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Serif+Pro&display=swap');

/* General Styling */

.content {
    height: 85vh;
}

/* Font Styling */

h1 {
    font-family: 'Source Serif Pro', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

/* Game Choice Section */

.game-choice-area {
  
}

.choice {
    cursor: pointer;
    padding: 2rem;
    margin: 1rem 0;
}

.choice-image {
    width: 100%;
}